In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Import Dataset
dataset = pd.read_csv("office_training.csv")
dataset_prime = dataset.iloc[:, 1:]
#dataset.head() # Print first 5 observations from dataset using head()
dataset = dataset_prime
dataset.head()

,False,False.1,False.2,False.3,False.4,False.5,False.6,False.7,False.8,False.9,...,True.9,False.27,False.28,False.29,True.10,False.30,True.11,False.31,False.32,G
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,False,True,False,False,G
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,G
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,G
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,G
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,False,True,False,False,G

In [3]:
# Check in which column contains nan values
dataset.isnull().any()

 False       False
 False.1     False
 False.2     False
 False.3     False
 False.4     False
 False.5     False
 False.6     False
 False.7     False
 False.8     False
 False.9     False
 False.10    False
 False.11    False
 False.12    False
 False.13    False
 True        False
 False.14    False
 False.15    False
 False.16    False
 False.17    False
 True.1      False
 False.18    False
 False.19    False
 False.20    False
 False.21    False
 True.2      False
 False.22    False
 True.3      False
 False.23    False
 False.24    False
 False.25    False
 False.26    False
 True.4      False
 True.5      False
 True.6      False
 True.7      False
 True.8      False
 True.9      False
 False.27    False
 False.28    False
 False.29    False
 True.10     False
 False.30    False
 True.11     False
 False.31    False
 False.32    False
 G           False
dtype: bool

In [4]:
for i in range(len(dataset)):
    for j in range(len(dataset.iloc[0])):
        if(j < len(dataset.iloc[0])-1):
            if(dataset.iloc[i, j] == ' False'):
                dataset.iloc[i, j] = 0
            else:
                dataset.iloc[i, j] = 1
        else:
            if(dataset.iloc[i, j] == ' G'):
                dataset.iloc[i, j] = 0
            else:
                dataset.iloc[i, j] = 1

# Check in which column contains nan values
dataset.isnull().any()

 False       False
 False.1     False
 False.2     False
 False.3     False
 False.4     False
 False.5     False
 False.6     False
 False.7     False
 False.8     False
 False.9     False
 False.10    False
 False.11    False
 False.12    False
 False.13    False
 True        False
 False.14    False
 False.15    False
 False.16    False
 False.17    False
 True.1      False
 False.18    False
 False.19    False
 False.20    False
 False.21    False
 True.2      False
 False.22    False
 True.3      False
 False.23    False
 False.24    False
 False.25    False
 False.26    False
 True.4      False
 True.5      False
 True.6      False
 True.7      False
 True.8      False
 True.9      False
 False.27    False
 False.28    False
 False.29    False
 True.10     False
 False.30    False
 True.11     False
 False.31    False
 False.32    False
 G           False
dtype: bool

In [5]:
# Separate features and labels
features = dataset.iloc[:,:-1].values
label = dataset.iloc[:,-1].values.reshape(-1,1)
print(features[0])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1
 1 0 0 1 0 1 0 0]

In [6]:
# Perform Imputation with strategy=mean
from sklearn.preprocessing import Imputer
imputerNaN = Imputer(missing_values="NaN",strategy="mean",axis=0)
features[:,:] = imputerNaN.fit_transform(features[:,:])
print(features[1])
print(len(features[1]))

[0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0]
45

/usr/local/lib/python3.5/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [7]:
# Perform Label Encoding and Onehot Encding on categorical values present in the features
#from sklearn.preprocessing import LabelEncoder,OneHotEncoder
#print(features[1])
#print(set(features[:,8]))
#features[:,8] = LabelEncoder().fit_transform(features[:,8])
#print(features[1])
#print(len(features[1]))
#features = OneHotEncoder(categorical_features=[8]).fit_transform(features).toarray()
#print(features[1])
#print(len(features[1]))
label=label.astype('int')

In [8]:
X,y=features,label # Purpose of this copying variables is that trees doesn't requires scaling while others "may be"
# Split into training set and testing set in every model building cause of "random_state" present in the "train_test_split"
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test = tts(X,y,test_size=0.1,random_state=5)

In [36]:
# Random Forest Tree Regression
from sklearn.tree import DecisionTreeClassifier
depth = 12
model_random = DecisionTreeClassifier(random_state=20, max_depth=depth, criterion="gini")
model_random.fit(X_train,y_train.ravel())

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=12,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=20, splitter='best')

In [37]:
# Perform prediction and model score
y_pred = model_random.predict(X_test)
from sklearn.metrics import r2_score
print("R2 score Regression: ")
print("Model Score for Training data: {}".format(model_random.score(X_train,y_train)))
print("Model Score for Testing data: {}".format(r2_score(y_test,y_pred)))
#print("Root Mean Squared Error is {}".format(np.sqrt(mean_squared_error(y_test,y_pred))))
print("Accuracy score Classification: ")
from sklearn.metrics import accuracy_score
print("Model Score for Training data: {}".format(model_random.score(X_train,y_train)))
print("Model Score for Testing data: {}".format(accuracy_score(y_test,y_pred)))

R2 score Regression:
Model Score for Training data: 0.9988649262202043
Model Score for Testing data: 0.9591666666666667
Accuracy score Classification:
Model Score for Training data: 0.9988649262202043
Model Score for Testing data: 0.9897959183673469

In [45]:
# Export pickle model
import pickle
pickle.dump(model_random, open('pickle_model.pickle', 'wb'))

In [39]:
# Reload pickle model
model_loaded = pickle.load(open('pickle_model.pickle', 'rb'))

depth = model_loaded.max_depth

In [40]:
from sklearn.tree import export_graphviz
from subprocess import call
fl = open("decision_tree_stat.txt", 'w')
fl.write(str(depth+1))
fl.close()
# Export as dot file
export_graphviz(model_loaded, out_file='tree.dot',
                rounded = True, proportion = False, 
                precision = 2, filled = True, class_names=['0', '1'])
filename = "tree" + str(0) + ".txt"
print(filename)
call(['dot', '-Tplain', 'tree.dot', '-o', filename])

tree0.txt

0

In [47]:
import math
query = open("decision_tree_query.txt", 'w')
scaled_x_test = []
print(X_test[9])
for i in range(len(X_test[9])):
    query.write(str(math.floor(X_test[9][i]*1000)) + '\n')
query.close()

ans = open("decision_tree_sklearn_ans.txt", 'w')
ans.write(str(y_test[0]) + '\n')
ans.write(str(y_pred[0]) + '\n')
ans.close()

[0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 1.0
 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0]

In [44]:
# Convert to text using system command (requires Graphviz)
#from subprocess import call
#call(['dot', '-Tplain', 'tree.dot', '-o', 'tree.txt'])
print(y_pred)

[1 1 0 0 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 1 0 0 1 1 0 1 1 1 0 1 1 1 1 0 0 1 0
 0 1 1 0 0 0 0 1 1 0 1 1 0 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 1 0 1 1 0 0 1 1
 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 1]